docx2txt==0.8
openai==1.47.1
pandas==2.2.3
Pillow==10.4.0
protobuf==3.20.3
PyPDF2==3.0.1
python-dotenv==1.0.1
python_pptx==1.0.2
streamlit==1.28.1
streamlit_authenticator==0.3.3
google-generativeai
google-ai-generativelanguage
setuptools
